body{
    background-color: white;
    font-family: antarctican-mono, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    border: 30px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 80px;
    margin-right: 80px;
}

.divAll {
    grid-area: 1 / 1 / 13 / 13;

}

.divHeader {
    border-bottom: 0.01em solid #eae9e9;
    grid-area: 1 / 1 / 2 / 13;


}

.divFooter {
    border-top: 0.01em solid #eae9e9;
    grid-area: 12 / 1 / 13 / 13;

}

.divLogo {
    padding: 20px;
    display: inline;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    grid-area: 1 / 1 / 2 / 3;
}

.divMenu {
    padding: 20px;
    grid-area: 1 / 8 / 2 / 13;
    display: inline;
}

li {
    margin-right: 30px;
    display:inline-block;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: crimson;
}

.divCopyright {
    padding-top: 40px;
    padding-left: 20px;
    color: #ababab;
    grid-area: 12 / 1 / 13 / 7;
}

.content{
    grid-area: 3 / 2 / 12 / 13;

}

.content-text{
    grid-area: 4 / 8 / 12 / 13;
    color: #000000;
    font-size: 60px;
    font-weight: 500;
    padding-left: 100px;

}

.content-img{
    width: 800px;
}

.divSocial {
    padding-top: 40px;
    grid-area: 12 / 11 / 13 / 13;
}

.divMidAll {
    grid-area: 2 / 1 / 12 / 13;
}

.divMidMidText{
    grid-area: 2 / 4 / 12 / 10;
}

.divPicture {
    grid-area: 3 / 5 / 7 / 9;
    background-color: tomato;
}

.divText {
    grid-area: 8 / 5 / 11 / 9;
    background-color: steelblue;
}