body{
    background-color: white;
    /*
    background: linear-gradient(63deg, rgba(255,255,255,1) 0%, rgba(241,238,229,1) 60%);
     */
    font-family: antarctican-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translate(-20px , -10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translate(20px , 10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

@keyframes float3 {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-40px);
    }
    100% {
        transform: translatey(0px);
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto repeat(1, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 80px;
    margin-right: 80px;
}

.divAll {
    grid-area: 1 / 1 / 13 / 13;
}

.divHeader {
    border-bottom: 0.01em solid #eae9e9;
    grid-area: 1 / 1 / 1 / 13;
    height: 100px;


}

.divFooter {
    border-top: 0.01em solid #eae9e9;
    grid-area: 13 / 1 / 13 / 13;
    height: 80px;
}

.divLogo {
    padding: 20px;
    display: inline;
    font-weight: 600;
    margin: 16px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #5b9457;
    letter-spacing: 5px;
    grid-area: 1 / 1 / 2 / 3;
    height: 80px;
    align-self: center;
}

.divMenu {
    padding: 20px;
    grid-area: 1 / 4 / 2 / 13;
    justify-self: end;
    display: inline;
    height: 80px;
}

li {
    margin-right: 20px;
    display:inline-block;
    font-weight: 400;
    font-size: 1rem;

    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #5b9457;
}

.divCopyright {
    padding-top: 40px;
    padding-left: 20px;
    color: #ababab;
    grid-area: 13 / 1 / 13 / 7;
    height: 80px;
}

.content{
    grid-area: 2 / 2 / 7 / 7;


}

.content-text{
    grid-area: 2 / 8 / 6 / 12;
    color: #5b9457;
    padding-left: 60px;
    font-size: 50px;
    font-weight: 600;
    /*animation: float3 4s ease-in-out infinite;
     */
}

.simple-text{
    grid-area: 6 / 8 / 4 / 12;
    color: #000000;
    padding-left: 60px;
    font-weight: 400;
    /*animation: float3 4s ease-in-out infinite;
     */
}

.content-img{
    width: 800px;

    overflow: hidden;
    -webkit-filter: grayscale(100%);
    transform: translatey(0px);
    /*animation: float 6s ease-in-out infinite;
     */
}

.content2{
    grid-area: 5 / 7 / 9 / 12;
    padding-top: 180px;
    justify-self: end;
}

.content-text2{
    grid-area: 9 / 8 / 10 / 13;
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    /* animation: float3 6s ease-in-out infinite;
     */
}

.content-img2{
    width: 650px;
    overflow: hidden;
    transform: translatey(0px);
    -webkit-filter: grayscale(100%);
    /* animation: float2 6s ease-in-out infinite;
     */
}

.content3{
    grid-area: 8 / 1 / 12 / 6;
    padding-left: 50px;
    padding-top: 50px;

}

.content-text3{
    grid-area: 6 / 2 / 9 / 7;
    color: #5b9457;
    padding-top: 150px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    /*animation: float3 6s ease-in-out infinite;
     */
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.content-img3{
    width: 750px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    transform: translatey(0px);
    /*animation: float2 6s ease-in-out infinite;
     */
}

.content-img1 .content-img2 .content-img3:hover {
    transform: scale(1.1);
}

.divSocial {
    padding-top: 40px;
    grid-area: 13 / 5 / 13 / 13;
    justify-self: end;
}

.divMidAll {
    grid-area: 2 / 1 / 12 / 13;
}

.divMidMidText{
    grid-area: 2 / 4 / 12 / 10;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
