/*ATOMS*/
@import "atoms/button/button.css";
@import "atoms/image/image.css";
@import "atoms/text/text.css";
@import "atoms/beat-animation/beat.css";
/*MOLECULES*/
@import "molecules/footer/footer.css";
@import "molecules/header/header.css";
@import "molecules/header/header.css";
/*ORGANISMS*/
@import "organisms/main/main.css";
/*TEMPLATES*/
@import "templates/grid/grid.css";
^^
body {
    background-color: crimson;
    font-family: 'Roboto Mono', monospace;
}

.inline{
    font-size: 5rem;
    margin: auto 0;
}





