body {
    background-color: crimson;
    font-family: 'Roboto Mono', monospace;
}
.main{
    background-color: #deb3b9;
    margin: 30px;
    padding: 30px;
    height: 88vh;
}
.menu{
    float: right;
    top: 0px;
    display: inline;
}

li {
    padding: 0px;
    margin-right: 40px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 0.9rem;

}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: crimson;
}

.logo{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.3em;
    display: inline;
}

footer{
    position:absolute;
    bottom: 50px;
}

.copyright{
    font-weight: 300;
    font-size: 0.8rem;
    color: lightslategrey;
}

.social{

}

@keyframes heartbeat
{
    0%
    {
        transform: scale( .75 );
    }
    20%
    {
        transform: scale( 1 );
    }
    40%
    {
        transform: scale( .75 );
    }
    60%
    {
        transform: scale( 1 );
    }
    80%
    {
        transform: scale( .75 );
    }
    100%
    {
        transform: scale( .75 );
    }
}

.inline{
    font-size: 5rem;
    margin: auto 0;
}

.beat
{
    font-size: 10rem;
    color: crimson;
    width: 50px;
    height: 50px;
    animation: heartbeat 1s infinite;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



